*{
margin:0;
padding:0;
}

body{
background-color:;
font-family: 'Roboto', sans-serif;
}

.navbar{
background-color:rgba(243,241,221,.9);
font-family: 'Roboto', sans-serif;
font-size:1.1em;
}
img{
display:block;
margin:auto;    
}
.navbar .navbar-brand{
font-weight: 700;
color:navy;
font-size:1.7em;
padding-right:60px;
}
.navbar-nav>li>a{
color:navy;
}

header{
background-color:rgba(165,242,224,.4);
margin-top:51px;
}
header p{
text-align:justify;
}
h2{
margin-bottom:70px;    
    
}
header h1{
padding-top:100px;
}
header img{
margin-top:50px; 
width:70%;
}
.explore{
margin-top:10px;
text-align: center;
}

.glyphicon-circle-arrow-down{
font-size: 30px;
color:gray;

}
.main{
background-color:rgba(18,28,82,.9);
color:white;
}
h3{
    text-align: center;
    margin-top:50px;
}
.main h2{
    text-align: center;
margin-top:70px;

}
.main p{
margin-bottom:50px;
margin-top:30px;
color:white;
}

.main2{
    color:navy;
}
.main2 p{
padding:20px;
line-height: 1.6;
font-size:1.1em;
color:darkblue;
}

.main2 img{
display:block;
margin:auto;
padding:50px;
}
.main2 a{
    background-color:rgba(18,28,82,.9);
    width:150px;
}
.main2 .btn-primary{
display:block;
margin:0 auto;
margin-bottom:20px;
    
}
/*Programs---------------------------------*/
.main3 p {
text-align:center;
font-size:1.1em;
color:navy;
}
.programs{
 background-color:rgba(18,28,82,.9);
 color:white;  
}
.panel .panel-heading{
    background-color:white;
}
.panel .panel-heading:hover{
    color:cornflowerblue;  
}
.panel{
    width:85%;
}
.panel .panel-body{
    color:dimgray;
}
.program1 img{
margin-bottom:150px;      
}
.program2 img{
margin-bottom:50px;      
}
.program3 img{
margin-bottom:50px;      
}
.program4 img{
margin-bottom:50px;      
}
.program5 img{
margin-bottom:50px;      
}
.programs p{
color:white;
}
.program1 h3{
    padding-bottom:2.1em;
    color:dimgray;
}
.program2 h3{
    padding-bottom:2.1em;
    color:navy;
}
.program3 h3{
    padding-bottom:2.1em;
    color:dimgray;
}
.program4 h3{
    padding-bottom:2.1em;
    color:navy;
}
.program5 h3{
    padding-bottom:2.1em;
    color:dimgray;
}
.main3 p{
    margin-top:30px;
    margin-bottom:30px; 
}
.program1{
 background-color:rgba(250,245,242,.4);
border:1px solid lightgray;    
}

.panel-group{
    margin-top:20px;
    margin-bottom:20px;
}

.program3{
 background-color:rgba(165,242,224,.4);
border:1px solid lightgray;    
}

.program4{
 background-color:rgba(250,245,242,.4);  
}

.program5{ 
border-top:1px solid lightgray;
}

/*degree---------------------------------*/
.degreeHeader{
 background-color: beige;
color:navy;
}
.degreeBody1{
    background-color:rgba(18,28,82,.9);
    color:white;       
}
.degreeBody1 h2{
    text-align:center;
    margin-top:50px;    
}
.degreeBody1 p{
margin-top:40px;
margin-bottom:50px;
padding:0 40px 0 40px;
text-align: center;
color:lightgray;
font-family:;
}
.degreeBody2{
background-color:rgba(250,245,242,.4);
border:1px solid lightgray;     
}
.degreeBody2 .panel{
    width:100%
}
.degreeBody2 h1{
    margin:50px 0 40px 5px;
    font-size:1.9em;
    color:dimgray;
}
.degreeBody2 img{
    margin-bottom:70px;
    margin-top:20px;
}
.degreeBody3 .panel{
    width:100%
}
.degreeBody3 h1{
    margin:50px 0 40px 5px;
     font-size:1.9em;
     color:dimgray;
}
.degreeBody3 img{
    margin-bottom:70px;  
}

/*location-------------------------------*/

.locationHeader{
 background-color:rgba(214,241,252,.9);
}
.locationHeader h1{
    padding-top:100px;
    color:navy;
}
.locationHeader p{
}
.single{
background-color:rgba(250,245,242,.4);
border:1px solid lightgray;
}
.single p{
font-size:1.3em;
color:navy;
padding-top:10px;
    text-align: center;
}

.single a{
width:18%;
margin-left:5%;
margin-top:30px;
margin-bottom:50px;
font-weight: 700;
color:gray;
border:1px solid gray;
letter-spacing:1px;
}
.single a:hover{
color:white;
background-color:navy;
border:white;
}
#manhattan, #brooklyn, #queens, #bronx{
padding-bottom:50px;
}
.caption h4{
font-weight:600;
margin-bottom:20px;
}
.caption p{
color:dimgray;
}
.add{
color:navy;
font-size:0.9em;
}

#manhattan{
background-color:rgba(18,28,82,.9);
color:white; 
}

#manhattan h2{
margin-top:50px;
font-weight:600;
border-bottom:1px white solid;
}
#queens{
background-color:rgba(165,242,224,.4);
border:1px solid lightgray;
}
#queens h2{
margin-top:50px;
font-weight:600;
border-bottom:1px dimgray solid;
color:dimgray;
}

#brooklyn{
background-color:rgba(250,245,242,.4);
}
#brooklyn h2{
margin-top:50px;
font-weight:600;
border-bottom:1px navy solid;
color:navy;   
}
#bronx h2{
margin-top:50px;
font-weight:600;
border-bottom:1px gray solid;
color:gray;         
}

/*admission------------------------------*/
.admissionHeader h1{
    margin-bottom:30px;
}
.adminBody h2{
    color:dimgray;
    font-weight:700;
    margin-top:50px;
    border-bottom:1px gray solid;
}
.adminBody h4{
text-align:right;
margin:30px 0;
font-weight: 600;
font-size:1.6em;
color:rgba(106,107,107,.7);
}
.adminBody h4:hover{
color:navy;
}
.adminBody .askUs{
margin-bottom:40px;
text-align:left;
font-weight: 700;
font-size:3em;
font-family: 'Merriweather', serif;
color:rgba(72,125,106,.9);
}
.contactUs p{
font-size:1.2em;
color:gray;
margin-bottom:50px
}
.contactUs img{
margin-bottom:50px;
}
.contactUs button{
color:white;
background-color:#3C8759;
}
.contactUs button:hover{
background-color:#D99CA8;
color:white; 
}

.modal-content{
width:350px;
}
.form-group #message{
height:80px;
}
label{
color:dimgray;
margin-bottom:10px;
font-family: 'Merriweather', serif;
}

/*footer---------------------------------*/

footer{
background-color:pink;
}
footer img{
  margin-top:25px;
  margin-bottom:25px;
}